<div id="profile">
  <div class="profile-tab-container">
    <div class="tab-wrap">
      <ul class="tab-list">
       <li class="tab incentives" hm-tap = "showCollectedIncentives()">
        <p>C</p>
       </li>
       <li class="tab runner-complete" hm-tap = "showCompletedTask()">
        <p>W</p>
       </li>
       <li class="tab subscriptions" hm-tap = "showSubscriptionList()">
        <p>l</p>
       </li>
      </ul>
    </div>
    
    <div class="tab-indicator {{currentTab}}">
      <span>{{indicatorText}}</span>
    </div>
  </div>
  
  <div class="list incentiveList" ng-show="revealTabContent(incentiveTab)">
    <ul>
     <li>incentives</li>
     <li>incentives</li>
     <li>incentives</li>
    </ul>
  </div>
  
  <div class="list incentiveList" ng-show="revealTabContent(taskTab)">
    <ul>
     <li>task</li>
     <li>task</li>
     <li>task</li>
    </ul>
  </div>
  
  <div class="list subscriptionsList" ng-show="revealTabContent(subscriptionTab)">
    <ul>
     <li>task</li>
     <li>task</li>
     <li>task</li>
    </ul>
  </div>
  
</div>
